body {
  font-family: 'Noto Serif Bengali', serif;
    background-color: rgb(253, 253, 235);
    width: 100%;
    margin: 0;
    padding: 0;
  }
 
  /* .section1{
    width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
  } */
  .navbar{
    /* background-color: #fff !important; */
    background-color: rgba(226, 232, 240, 1) !important
  }
  
  #slider img {
    height: 600px;
    
  }
  
  #sidebar {
    padding: 15px;
    border-top: 1px solid rgb(226, 225, 225) ;
  }
   /* Sidebar styling */
   .leftsideallsection {
    background-color: #343a40 !important;
    padding: 20px;
    color: white;
    height: 100%;
  }

  .leftsideallsection h5 {
    width: 90%;
  
    color: #ffce00;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffce00;
  }

  #sidebar .btn {
    background-color: #495057;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 0;
    text-transform: uppercase;
  }

  #sidebar .btn:hover {
    background-color: #ffce00;
    color: #343a40;
  }

a{
  text-decoration: none;
}
  
  #sidebar .collapse .inneroption{
    background-color: #343a40 !important;
    color: #adb5bd !important;
    border: none;
    padding: 5px;
   
  }

  #sidebar .collapse .inneroption:hover {
    background-color: #ffce00 !important;
    color: #343a40 !important;
  }

  .carousel-inner img {
    border-radius: 10px;
  }

  /* Custom scrollbar for sidebar */
  .leftsideallsection {
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #343a40 ;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #495057 ;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffce00;
  }
  .offer{
    width: 200px;
    height: 40px;
    /* border: 1px solid rgb(255, 48, 48); */
    
    text-align: center;
    color: black !important;
    font-weight: 600;
    padding-top: 5px;
   margin-left: 10px;
    
  }

  .carousel-caption {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: black;
  }

  .carouselrighttext {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right; /* Text alignment to the right */
  }
  .carouselrighttext h1{
    color: #fff !important;
  }
  .carouselrighttext h5{
    color: #fff !important;
  }

  .carousel-caption h2{
    font-size: 34px;
    color: #f05a09;
    font-weight: 900;
  }
  .carousel-caption h1{
    font-size: 50px;
    color: #066c04;
    font-weight: 1000;
  }
  .ordernow{
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);;
  }
  .ordernow:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .caroselbutton{
    margin-top: 20%;
    margin-bottom: 20%;
  }
/* For positioning the slider caption text (slidertext1) */


  /* .leftsideallsection{
    position: fixed !important;
    
  } */
  .section1{
    width: 90%;
  }
  .leftbackward{
    background-color: rgba(226, 232, 240, 1) !important;
    padding-top: 10px;
  }
  .leftsideselectbutton{
    margin-top: -13px;
    
  }
  .productcard{
    cursor: pointer;
  }

  
  .inneroption{
    font-size: 17px;
    font-weight: bold;
   margin-right: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  
  .mainoption{
    font-size: 19px;
    font-weight: 700;
   
  }

  .productcard button{
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .checkoutcard div{
    display: flex;
    justify-content: space-between;
  }
  .checkoutcard div .card-body{
    color: red;
    font-size: 17px;
    font-weight: 600;
  }
  .checkoutcardimg{
    width: 200px;
    height: auto;
  }

  #leftbackwardMobile .navitemformobile:hover{
    background-color: #ffce00 !important;
    color: #343a40 !important;
  }
  footer {
   width: 100%;
    background-color: #343a40;
    color: #fff;
    padding: 30px 0;
    
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  footer a:hover {
    color: #00bfff;
    text-decoration: none;
  }
  
  footer h5 {
    font-size: 18px;
  }
  
  footer p {
    font-size: 14px;
  }
  
  footer .list-inline-item a {
    font-size: 24px;
    margin-right: 15px;
  }

  
    
    
    .leftbackward button{
     
      font-size: 17px; 
    }
  
    



  @media (max-width: 768px) {
    footer .list-inline-item a {
      font-size: 20px;
      margin-right: 10px;
    }
  
    footer h5 {
      font-size: 16px;
    }
  
    footer p {
      font-size: 12px;
    }
  }
  
  
  @media (max-width: 768px) {

   
     
    #sidebar {
      display: none;
    }
  
    #slider img {
      height: 400px;
    }
    .card{
      margin:0px 20px
    }
  .card img {
    height: 200px;

  }

  .carousel-caption h2{
    font-size: 20px;
    
  }
  .carousel-caption h1{
    font-size: 22px;
    
  }
  }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }
  

  @media (min-width: 992px) and (max-width: 1440px) {
    
  
    .carousel-caption h2{
      font-size: 24px;
      
    }
    .carousel-caption h1{
      font-size: 30px;
      
    }
  }
 
  